@use '../variables' as *;


.footer {
    background-color: $green;
    padding-top: 80px;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    color: $light;
    line-height: 1.4;
    background-image: url('/img/paw.svg');
    background-size: 375px 355px;
    background-repeat: no-repeat;
    background-position: 59% 50px; // 100-((590/1440)*100)  590px- расстояие от левой границы до лапки, 50px это top

    &__container {
        display: grid;
        grid-template-areas:
            'logo contacts'
            'info contacts'
        ;
    }

    &__logo {
        // грид элемент
        grid-area: logo;
        display: block;
        width: 331px;
        height: 57px;
        margin-bottom: 30px;
    }

    &__info {
        // грид элемент
        grid-area: info;
        font-size: 16px;
    }

    &__copyright {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 10px;
    }


    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__item {
        margin-bottom: 10px;
        font-size: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {}

    &__contacts {
        // грид элемент
        grid-area: contacts;
        justify-self: end; // выравнивание по горизонтали
        font-style: normal;
    }

    &__email {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
    }
}