@use '../variables' as *; // импорт переменных, котрые будем использовать здесь
@use '../media' as *;
@use '../fonts' as *;


.hero {
    padding: 218px 0 245px;
    background-color: $purple;
    color: $light;
    background-image: url('/img/bg-dog@1x.png'), url('/img/pattern.svg'); //  для Vite путь будет от /img, иначе в dist(прод сборка) не будут рабоать
    background-size: contain, cover; // для 1-ой картинки(песель) contain, для 2-ой cover(чтоб клетчатый фон  растянулась на весь экран). 
    background-position: right bottom, center; // собачка справа внизу, фоновая картинка по центру
    background-repeat: no-repeat, repeat;

    // @include bigscreen {
    //     background-image: url('/img/bg-dog-big.png'), url('/img/pattern.svg');
    //     background-position: left 48vw bottom 0, center; // 50% от ширины экрана
    //     background-size: 1800px, auto;
    // }

    @include laptop {
        //  вызов миксина
        // <1140;
        padding: 148px 0 172px;
        margin-bottom: 32px;
        background-image: url('/img/bg-dog-laptop@1x.png'), url('/img/pattern.svg');
        background-size: 655px 564px, cover; // 655px 564px - размер bg-dog-laptop@1x.png
    }

    @include tablet {
        padding: 108px 0 461px;
        background-image: url('../../img/bg-dog-tablet@1x.png'), url('/img/pattern.svg');
    }

    @include mobile {
        padding: 100px 0 284px;
        margin-bottom: 16px;
        background-size: 294px 261px, cover;
        background-image: url('../../img/bg-dog-mobile@1x.png'), url('/img/pattern.svg');
    }

    &--store {
        background-color: $green;
        background-image: url('/img/bg-cat@1x.png'), url('/img/pattern.svg');
        background-size: 839px, auto;

        @include laptop {
            background-size: 640px, auto;
        }

        @include tablet {
            background-size: 100%, auto;
        }
    }


    &__title {
        width: 810px;
        max-width: 100%;
        margin-bottom: 50px;

        @media (max-width: 1300px) {
            width: 660px;
        }

        @include laptop {
            width: 588px;
            padding-top: 50px;
        }

        @include tablet {
            padding-top: 40px;
        }

        @include mobile {
            width: 292px;
            padding-top: 44px;
        }
    }


    &__text {
        max-width: 440px;
        margin-bottom: 60px;

        @include bigscreen {
            max-width: 660px;
        }

        @include laptop {
            max-width: 360px;
            margin-bottom: 40px;
        }

        @include tablet {}

        @include mobile {
            margin-bottom: 20px;
        }
    }


    &__store-link {
        display: flex;
        align-items: center;
        gap: 4px;
        width: max-content; //  по размеру контента
        padding: 16px 44px 16px 24px;
        border-radius: 40px;
        background-color: $green;
        font-family: $font-family;
        font-weight: 700;
        text-align: center;
        color: $light;
        outline: 1px solid transparent;
        transition-property: background-color, transform; // эти два свойсва плавно меняются
        transition-duration: 0.3s, 0.2s; // для background-color 0.3s, для transform 0.2s
        transition-timing-function: ease-in-out;

        &:hover {
            background-color: #00772f;
        }

        &:focus-visible {
            // срабатывает когда пеерклчаемся клавишей tab
            outline-color: $carrot;
        }

        &:active {
            transform: scale(0.9); // при кликании кнопка уменьшатся
        }

        &:after {
            // флекс элемент
            // стрелочка белая
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-image: url('/img/arrow-up.svg');
            background-repeat: no-repeat;
            background-size: contain; // contain-чтобы картинка не обрезалась но занимала все прстранстов
            background-position: center;
        }

        @include laptop {
            padding: 16px 36px;
        }

        @include mobile {
            padding: 11px 24px;
        }
    }
}