/* базовые стили https://codepen.io/Quper/pen/GRRZzWy */
@use 'fonts' as *; // импорт fonts.scss
@use 'variables' as *; // импорт variables.scss
@use 'media' as *;


html {
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative; // эти 2 свойсвта скрывате не вмещающиеся элементы(чтоб гор скролл не появлляся)
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh; // расятгиватся на всю высоту экрана
    font-family: $font-family;
    -webkit-font-smoothing: antialiased; // эти сво-ва нужны для оптимизации отображени шрифта в разн устройствх
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $green;
    background-color: $light;
}


img,
svg {
    display: block; // чтоб под  картинкой не было отсутпа
    max-width: 100%; // чтоб картинки не выпадали из родителя
    height: auto; // сохранеят пропорции
    // object-fit: contain;
}

svg {
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

/*
Доступно скрываю элементы
*/
.visually-hidden {
    position: fixed;
    transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
    max-width: 1404px; // 1300(контент)+52(padding)*2
    padding: 0 52px;
    margin: 0 auto;

    @include bigscreen {
        max-width: 1600px;
        padding: 0 60px;
    }

    @include tablet {
        padding: 0 46px;
    }

    @include mobile {
        padding: 0 14px;
    }
}